body{
    border-style: double;
    height: 600px;
}
.section p{
    text-align: center;
    text-transform: uppercase;
}
.navebar ul li {
    float: left;
    list-style-type: none;
    width: 110px;
    text-align: center;
}

.navebar ul li a{
    text-decoration: none;
}

.navebar{
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    display: flex;
    width: 50%;
    text-align: center;
    margin-left: 350px;
}
.two{
    text-align: center;
    margin-top: 20px;
}

.peraghraph{
    text-align: center;
}

.peraghraph{
line-height: 1.5;
word-spacing: 0.3rem;
font-size: 1.6rem;
letter-spacing: 0.03rem;
}
